h1, p, button {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #404041;
  padding: 20px;
}

h1 {
  margin: 0px;
  color: #E6E7E8;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

span {
  color: #ed458b;
  font-weight: 700;
  margin-right: 10px;
}

.guess-input {
  margin-top:50px;
  text-align: left;
  margin-left: 500px;
  width: 430px;
  padding: 5px;
  font-weight: 300;
  font-size: 30px;
  border: 2px solid #e6e7e8;
}

.guess-button {
  background-color: #e6e7e8;
  color: white;
  width: 200px;
  font-size:25px;
  margin-left: 500px;
  margin-top: 40px;
  border-radius: 20px;
  padding: 5px;
  border:0;

}

.guess-button:hover {
    background-color: #eb008b;
    color: white;
}

.guess-button:disabled {
    background: #404041;
}

.clear {
  background-color: #e6e7e8;
  color: white;
  width: 200px;
  font-size:25px;
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 20px;
  padding: 5px;
  display:inline block;
  border: 0;
}

.clue {
  color: #404041;
  text-align: center;
  font-size: 30px;

}

.output {
  text-align: center;
  font-size: 200px;
  color:#eb008b;
  position: relative;
  width:2px;
  margin top:5px;
  margin-left: 600px;
  margin-bottom: 0;
  margin-top: 0;
}

.response {
  color: #404041;
  text-align: center;
  font-size: 30px;
  height: 2px;
  margin bottom:75%;
}

.reset {
    background-color: #e6e7e8;
    color: white;
    width: 450px;
    font-size:25px;
    margin-top: 40px;
    margin-left: 500px;
    border-radius: 20px;
    padding: 5px;
    display:inline block;
    border: 0;
  }


}








}
