body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


h1, p, button,input {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #404041;
  padding: 20px;
}

h1 {
  color: #E6E7E8;
  font-weight: 300;
  font-size: 50px;
  margin: 0px;
  text-align: center;
}

span {
  color: #ed458b;
  font-weight: 700;
  margin-right: 10px;
}


.min-range {
  border: 2px solid #e6e7e8;
  font-size: 15px;
  font-weight: 300;
  height: 20px;
  margin-left: 585px;
  margin-top: 75px;
  padding: 5px;
  width: 110px;
}

.max-range {
  border: 2px solid #e6e7e8;
  font-size: 15px;
  font-weight: 300;
  height: 20px;
  margin-left: 10px;
  padding: 5px;
  width: 110px;
}

.range-button {
  background-color: #e6e7e8;
  border: 0;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  margin-left: 595px;
  margin-top: 40px;
  padding: 5px;
  width: 200px;
}

.range-button:hover{
  background-color: #eb008b;
  color: white;
}


.guess-input {
  border: 2px solid #e6e7e8;
  font-size: 30px;
  font-weight: 300;
  margin-top:50px;
  margin-left: 500px;
  padding: 5px;
  text-align: left;
  width: 430px;
}

.guess-button {
  background-color: #e6e7e8;
  color: white;
  width: 200px;
  font-size: 25px;
  margin-left: 500px;
  margin-top: 40px;
  border-radius: 20px;
  padding: 5px;
  border: 0;
}

.guess-button:hover{
  background-color: #eb008b;
  color: white;
}

.guess-button:enabled{
  background-color: #404041;
}

.guess-button:disabled {
  background: #d0d2d3;
  color: white;
}

.clear {
  background-color: #e6e7e8;
  border: 0;
  border-radius: 20px;
  color: white;
  display:inline block;
  font-size:25px;
  margin-top: 40px;
  margin-left: 50px;
  padding: 5px;
  width: 200px;
}

.clue {
  color: #404041;
  font-size: 25px;
  text-align: center;
}

.output {
  text-align: center;
  font-size: 200px;
  color:#eb008b;
  position: relative;
  width:2px;
  margin-left: 600px;
  margin-bottom: 0;
  margin-top: 0;
}

.response {
  color: #404041;
  text-align: center;
  font-size: 30px;
  height: 2px;
  margin bottom:75%;
}

.reset {
    background-color: #e6e7e8;
    color: white;
    width: 450px;
    font-size:25px;
    margin-top: 40px;
    margin-left: 500px;
    border-radius: 20px;
    padding: 5px;
    display:inline block;
    border: 0;
  }
